/*body{
	background-color: #000000;
}*/

h1 {
    font-family: 'Helvetica Neue', 'Helvetica Light', sans-serif;
    font-weight: lighter;
    position: fixed;
}
#chart {
    padding-top: 50px;
    overflow: auto;
}
circle.node {
    stroke: #fff;
    stroke-width: 1.5px;
}
circle.nodeInvisible {
    stroke: #fff;
    stroke-width: 1.5px;
    visibility: hidden;
}
line.link {
    stroke: #999;
    stroke-opacity: .6;
}
text.labels {
    font-family: 'Helvetica Neue', 'Helvetica Light', sans-serif;
    font-weight: lighter;
    font-size: 11px;
    /*visibility: hidden;*/
    /*visible*/
}
text.centurylabels {
    font-family: 'Helvetica Neue', 'Helvetica Light', sans-serif;
    font-weight: lighter;
    font-size: 30px;
    /*visibility: hidden;*/
    /*visible*/
}
text.barlabels {
    font-family: 'Helvetica Neue', 'Helvetica Light', sans-serif;
    font-weight: lighter;
    font-size: 11px;
    color: black;
    /*visibility: hidden;*/
    /*visible*/
}
button {
    background-color: #FFFFFF;
    /* Green */
    border: none;
    color: #999;
    /*padding: 15px 32px;*/
    text-align: center;
    text-decoration: none;
    font-family: 'Helvetica Neue', 'Helvetica Light', sans-serif;
    font-weight: lighter;
    font-size: 16px;
}
button:hover {
    color: #000000;
}
